
<h1> Your Budget of $<%= @max_budget %> for <%= @attendance %> people is $<%= @spending_per_person %> per person</h1>
<h1> You can afford a Tier <%= @tier %> Party spending $<%= @spending %> for <%= @items %> items. </h1>
<%= link_to "Click Here for Party Shopping List (with tiers)", "/list" %>
